<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alrtcareaccueil</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="shortcut icon" href="public/alet_svg-01.svg" type="image/x-icon">
     <script src="https://cdn.tailwindcss.com"></script>
     <script src="index.js" defer></script>

</head>
<body>
    <!-- navbar -->
  <nav>
      <div class="logo">
        <a href="/"><img src="/alet_svg-01.svg" alt="" height="100px" width="50px"></a>
      </div>
      <ul class="nav-links">
        <li><a href="/">Accueil</a></li>
        <!-- <li><a href="">Articles</a></li> -->
         <li><a href="http://localhost:5000/psy">Psychologues </a></li> 
        <li><a href="#">A propos</a></li>
        <li><a href="#">S'enregistrer</a></li>
        <li><a href="#">Se connecter</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>