<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagedeconnexion</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <script src="/index.js" defer></script> -->
    <link rel="shortcut icon" href="public/alet_svg-01.svg" type="image/x-icon">
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- navbar -->
  <nav>
      <div class="logo">
        <a href="/"><img src="/alet_white-01.png" alt="" height="100px" width="50px"></a>
      </div>
      <ul class="nav-links">
        <li><a href="/">Accueil</a></li>
        <!-- <li><a href="">Articles</a></li> -->
        
        <li><a href="/admin/login">Dashboard</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <!-- formulaire de modification du statut de l'administrateur dont a recuperer l'id -->

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="" class="sign-in-form">
                    <h2 class="title">Modifier le statut du psychologue</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Nom" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Prenom" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Adresse" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Telephone" />
                    </div>
                    <input type="submit" value="Modifier" class="btn solid" />
                </form>

</body>
</html>
